.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.fseventsd
.Spotlight-V100
.Trashes

xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.mode1v3
*.mode2v3
*.perspectivev3
*.ouch

build/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.hmap

.build/
Packages/

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

*.ipa
*.dSYM.zip
*.dSYM

crashlytics/

*~.nib
*.swp

